html,body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 80%;
    margin: 50px auto;
    display: flex;
}
.todo{
    width: 30%;
    min-height: 100px;
    max-height: 90vh;
    background-color: #d8d8d8;
    overflow: auto;
    padding: 10px;
    border-radius: 10px;
}
.task{
    display: flex;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.name{
    width: 70%;
    padding-top: 5px;
}
.icons{
    width: 30%;
    text-align: right;
}
.icons i{
    background-color: #bcbcbc;
    margin-left: 5px;
    padding: 5px;
    border-radius: 50%;
    color:white;
}
.todo input{
    width: 100%;
    padding:15px;
    box-sizing: border-box;
    margin: 10px auto;
    background-color: transparent;
    border:1px dashed #6f6f6f;
    border-radius: 10px;
}
.todo :focus {
    outline: none;
    border: 1px solid #6f6f6f;
}
.taskPop{
    width: 70%;
    margin-left: 3%;
    background-color: #e8e8e8;
    border:5px solid #d8d8d8;
    border-radius: 10px;
}
.taskHead{
    display: flex;
    border-bottom: 1px solid #d8d8d8;
}
.taskHead h2{
    width:80%;
    padding-left:30px;
}
.taskIcons{
    width: 20%;
    text-align: right;
    margin-top: 5px;
    padding-right: 5px;
}
.taskIcons i{
    background-color: #bcbcbc;
    margin-left: 5px;
    padding-top: 12px;
    border-radius: 50%;
    color:white;
    width: 40px;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
}
.list{
    font-size: 20px;
    margin-top: 10px;
    padding-left: 20px;
}
.list input{
    width: 30px;
    height: 30px;
    position: relative;
    border:none;
    top:5px;
    /*accent-color: #f8a100;*/
}
.list input:before{
    content:"";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #d8d8d8;
}
.list input:checked:before{
    background-color: #00AEEF;
}
.list input:checked:after{
    content:"";
    position: absolute;
    display: block;
    margin: auto;
    width: 10px;
    height: 20px;
    border:solid white;
    border-width: 0 2px 2px 0;
    top:2px;
    left:10px;
    font-size: 25px;
    transform: rotate(45deg);
}
.list .checked{
    text-decoration: line-through;
}
.icons i.fa-trash:hover, .taskIcons i.fa-trash:hover{
    background-color: red;
}
.icons i.fa-pen:hover,.taskIcons i.fa-close:hover{
    background-color: #00AEEF;
}